body {
  background-color: #f0f2f5 !important;
}
.MuiTableCell-sizeSmall:last-child {
  position: sticky;
  right: 0px;
  top: 0;
  background-color: #fff;
  &.MuiTableCell-stickyHeader {
    background-color: #fafafa;
  }
}
.item-detail {
  width: 500px;
  padding-bottom: 20px;
  white-space: nowrap;
  .MuiTableCell-head {
    color: #999;
  }
  .MuiTableRow-root {
    &:hover {
      background-color: #f5f5f5 !important;
    }
    &.MuiTableRow-head {
      background-color: transparent !important;
    }
  }
  .MuiAppBar-colorPrimary {
    background-color: #fff;
    box-shadow: none;
    color: #000;
    padding: 10px 0px;
  }
}

.MuiDialog-paperWidthMd {
  width: 350px;
}

.MuiTableRow-root.Mui-selected,
.MuiTableRow-root.Mui-selected:hover {
  background-color: rgba($color: #3f51b5, $alpha: 0.08) !important;
}
.MuiButton-root {
  box-shadow: none !important;
}
a {
  color: #3f51b5;
  text-decoration: unset;
  font-weight: 500;
}
.notify > .MuiPopover-paper {
  width: 300px;
  margin-top: 8px;
  padding: 16px;
  box-shadow: none !important;
  background-color: #17222d !important;
  color: white !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.text-green {
  color: green;
  font-weight: 500;
}
.text-red {
  color: red;
  font-weight: 500;
}

.custom-modal-vk {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  overflow-x: hidden !important;
}

.custom-modal-vk > div:nth-child(3) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background: transparent;
  display: grid;
  grid-template-rows: -webkit-min-content auto;
  grid-template-rows: min-content auto;
  margin: auto;
  flex: unset;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}
